.container {
  min-height: 100vh;
  display: flex;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}
.container > section{
  flex: 1;
  padding: 0 0.5rem;
}

.sectionLogin{
  display: flex;
  flex: none;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-white);
  align-items: center;
}
.sectionLogin > form{
  
  display: flex;
  flex-direction: column;

}
.sectionLogin > form > input{
  width: 20rem;
  height: 3rem;
  border: none;
  margin: 0.2rem 0;
  color: var(--text-default);
  padding: 0.5rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.sectionLogin > form > button{
  background-color: var(--primary);
  margin-top: 1.3rem;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(138, 44, 226, 0.05);
  border: none;
  height: 3rem;
  font-size: 0.9rem;
  color: var(--font-white);
  text-transform: uppercase;
}
.sectionLogin > form > button:hover{
  opacity: 0.8;

}
.forgotPassword{
  font-size: 0.7rem;
  text-align: end;
}
.separator{
  text-align: center;
}
.buttonRegister{
  background-color: var(--secundary);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(138, 44, 226, 0.05);
  border: none;
  font-size: 0.9rem;
  color: var(--font-white);
  text-transform: uppercase;
  text-align: center;
  padding: 0.9rem;
}
.buttonRegister:hover{
  
  opacity: 0.8;
}
.sectionLogo{
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;

}