.container {
  font-family: 'Inter', sans-serif;
  background-color: var(--primary);
  color: var(--font-white);
}

.containerRecover{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.containerRecover  form{
  
  display: flex;
  flex-direction: column;

}
.inputStyles{
  width: 20rem;
  height: 3rem;
  border: none;
  margin: 0.2rem 0;
  color: var(--text-default);
  padding: 0.5rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.containerRecover  form > button{
  background-color: var(--secundary);
  margin-top: 1.3rem;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(138, 44, 226, 0.05);
  border: none;
  height: 3rem;
  font-size: 0.9rem;
  color: #fff;
  text-transform: uppercase;
}
.containerRecover  form > button:hover{
opacity: 0.8;

}

.groupByLabelInput >label{
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
  margin-top: .5rem;
}
.groupByLabelInput{
  display: flex;
  flex-direction: column;
}